body {
    margin: 0;
    padding: 0;
    background: #151515; /*url("../images/bkg.png") 0 0;*/
    color: #eaeaea;
    font: 16px;
    line-height: 1.5;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.container input{
    line-height: 34px;
    width: 40%;
    margin: 0 0 20px 0;
}
section {
    display: block;
    margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

ul{
    padding: 0;
    list-style-type: none;
}

li {
    line-height: 1.4 ;
}
.info ol li{
    text-align: left;
}
/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-bottom: 1px dashed #b5e853;
    padding: 20px 0;
    margin: 0 auto 40px auto;
}

header h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 auto 0 auto;
    max-width: 660px;
    font-weight: bold;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;
}

header h1 label{
    font-size: 20px;
}
header h1:before {
    content: "./ ";
    font-size: 24px;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
}

#downloads .btn {
    display: inline-block;
    text-align: center;
    margin: 0;
}

/* Main Content
 */

#main_content {
    width: 100%;
    -webkit-font-smoothing: antialiased;
}
section img {
    max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    color: #b5e853;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
    0 0 5px rgba(181, 232, 83, 0.1),
    0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
    font-size: 30px;
}

#main_content h2 {
    font-size: 24px;
}

#main_content h3 {
    font-size: 18px;
}

#main_content h4 {
    font-size: 14px;
}

#main_content h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

#main_content h6 {
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    margin: 0 0 5px 0;
}

dt {
    font-style: italic;
    font-weight: bold;
}

ul li {
    list-style: none;
}
/*
ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #b5e853;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}
*/
blockquote {
    color: #aaa;
    padding-left: 10px;
    border-left: 1px dotted #666;
}

pre {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    font-size: 14px;
    color: #b5e853;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

table {
    width: 100%;
    margin: 0 0 20px 0;
}

th {
    text-align: center;
    border-bottom: 1px dashed #b5e853;
    padding: 5px 10px;
    background:  #b5e853;
    color: #000;
}

th a{
    text-decoration:none;
    color: #000;
}
td {
    padding: 5px 10px;
}

hr {
    height: 0;
    border: 0;
    border-bottom: 1px dashed #b5e853;
    color: #b5e853;
}

/* Buttons
.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}
*/
/* Links
   a, a:hover, a:visited
*/

a {
    color: #63c0f5;
    text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
		content:"";
		display:table;
	    }

.cf:after {
    clear:both;
}

.cf {
    zoom:1;
}

.searchBox{
    text-align:center;
}
.flright{
    float:right;
}

.container{
    min-height: 250px;
    /*display: table-cell;*/
}

.container .warehouse{
    display: inline-block;
    justify-content: center;
    border: #b5e853 dotted;
    width: 100%;
    margin-bottom: 10px; 
}

.container .warehouse div{
    display: inline-block;
    align-self: center;
    margin: 10px;
    cursor: pointer;
}

.container .warehouse div img{
    max-width:75px;
    max-height:75px;
    cursor: grab;
}

.container .playground,
.container .effects{
    display: inline-block;
    margin: auto;
    width: 100%;
    min-height: 250px;
    border: #b5e853 dotted;
    height: 100%;
    align: center;
}


.container .playground .placeholder{
    margin: 10px;
    width: 95px;
    height: 95px;
    display: inline-block;
    float: none;
    border: #b5e853 double;
    border-radius: 50px;
    vertical-align: middle;
    overflow: none;
}

.playground .info{
    display: table;
    float: right;
    margin: 5px;
    width: 28%;
    height: 100%;
    text-align: center;
}

.udos{
    width: 70%;
    display: inline-block;
    float: left;
    border: 1px #b5e853;
    border-style: none dashed none none;
}

.arguments{
    width: 29%;
    display: inline-block;
    float: right;
}

.selected-effects ul{
    min-height: 250px;
}

.effects li,
.selected-effects li{
    border-radius: 5px;
    background: #27292a;
    color: #b5e853;
    margin: 10px;
    cursor: move;
    line-height: 2;
}

.effects li.selected{
    background: #b5e853;
    color: black;
}

.arguments li{
    display: block;
    width: 92%;
    text-align: center;
    margin: 10px 5px;
}

.udos li{
    width: 27%;
    display: inline-block;
	       
}

.playground .info span{
    display: table-cell;
    vertical-align: middle;
    font-size: large;
    text-align: left;
    font-size: x-large;
    color: lightgrey;
    font-family: monospace;
}

.playground .layout{
    float: left;
    width: 70%;
}

.playground .layout a.selected{
    border: #b5e853 dashed;
}

.container .playground .placeholder img{
    max-width: 75%;
    max-height: 75%;
    padding: 9px 0;
    cursor: pointer;
}

.container #trash{
    min-height: 75px;
}

.greenBtn{
    display: block;
    text-align: center;
    width: 40%;
    margin: 10px auto;
}

a.greenBtn{
    border : solid 1px #638a00;
    border-radius : 3px;
    moz-border-radius : 3px;
    -webkit-box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
    -moz-box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
    box-shadow : 0px 2px 2px rgba(0,0,0,0.4);
    font-size : 20px;
    color : #ffffff;
    padding : 1px 17px;
    background : #96c300;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c300), color-stop(100%,#648c00));
    background : -moz-linear-gradient(top, #96c300 0%, #648c00 100%);
    background : -webkit-linear-gradient(top, #96c300 0%, #648c00 100%);
    background : -o-linear-gradient(top, #96c300 0%, #648c00 100%);
    background : -ms-linear-gradient(top, #96c300 0%, #648c00 100%);
    background : linear-gradient(top, #96c300 0%, #648c00 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c300', endColorstr='#648c00',GradientType=0 );
    cursor: default;
}

a.greenBtn:hover{
    background: #65802e;
    text-decoration: none;
}

textarea{
    width: 100%;
    min-height: 100px;
}