<!DOCTYPE html>
<html>
  <head>
    <title>Cosmo Patcher</title>
    <meta name="description" content="Cosmo Interface Configuration" />
    <meta name="author" content="Gytha Ogg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="webapp/stylesheets/base.css" type="text/css" />
    
    <script src="webapp/scripts/angular.min.js"></script>
    <script src="webapp/scripts/Sortable.js"></script>
    <script src="webapp/scripts/ng-sortable.js"></script>
    <script src="webapp/scripts/cosmo.js"></script>
  </head>
  <body>
    <div ng-app="cosmoApp" ng-controller="cosmoCtrl">
      <header>
	<h1>cosmo-patcher
	  <!--
	  <span class = "flright">
	    <label>
	      <input type="radio"
		     ng-model="patch.type"
		     value="MIDI">
	      MIDI
	    </label>
	    <label>
	      <input type="radio"
		     ng-model="patch.type"
		     value="Cosmo"
		     ng-checked="true">
	      cosmo
	    </label>
	  </span>
-->
	</h1>
      </header>
      <div class = "container">
	<!--<input ng-model="maxControls" type="number" min="0" max="10" step="1" maxwidth="20px" ng-change="validateMaxControls()">-->

	<div class = "warehouse">
  	  <div ng:repeat="cosmoCtrl in cosmoCtrls | orderBy:orderProp">
	    <img id="{{cosmoCtrl.ctrlId}}" ng-src="{{cosmoCtrl.ctrlImgPath}}" draggable="true" ondragstart="drag(event)"/>
	  </div>
	  <div id="trash"ondrop="trash(event)" ondragover="allowDrop(event)" draggable="false">
	    <img draggable="false" src="webapp/images/trash.png">
	  </div>
	</div>

	<div class="playground">
	  <div class="layout">
	    <a ng:repeat="i in placeholders" ondrop="drop(event)" ondragover="allowDrop(event)"
	       id="{{i}}" class = "placeholder"
	       ng-click="select_controller(i)" ng-class="{selected: selection == i}">
	    </a>
	  </div>
	  <div class="info">
	    <span ng-if="selection == -1">
	      Drag and drop controllers and map the controllers to audio effects.
	    </span>
	    <div class = "selected-effects" ng-if="selection != -1">
	      <ul ng-sortable="{animation: 0}">
		<li draggable="true" >Effects: {{selection}}</li>
		<li draggable="true" >Effects: {{selection+1}}</li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class = "effects" ng-if="selection != -1">
	  <ul class="udos">
	    <li ng-repeat="(effect, args) in cosmoEffects" draggable="false" 
		ng-click="select_effect(effect, args)" ng-class="{selected: selected_effect == effect}">
	      {{effect}}
	    </li>
	  </ul>	
	  <ul ng-if="selected_effect != ''" 
	      class="arguments">
	    <li ng-repeat="arg in arguments" draggable="true">
	      {{arg}}
	    </li>
	  </ul>
	</div>
      </div>
    </div>
  </body>
</html>
